/* Color Theme Swatches in Hex */
.Calculator-1-hex { color: #F25C05; }
.Calculator-2-hex { color: #8C3908; }
.Calculator-3-hex { color: #F24405; }
.Calculator-4-hex { color: #F2F2F2; }
.Calculator-5-hex { color: #262626; }

/* Color Theme Swatches in RGBA */
.Calculator-1-rgba { color: rgba(242, 91, 4, 1); }
.Calculator-2-rgba { color: rgba(140, 56, 8, 1); }
.Calculator-3-rgba { color: rgba(242, 68, 4, 1); }
.Calculator-4-rgba { color: rgba(242, 242, 242, 1); }
.Calculator-5-rgba { color: rgba(38, 38, 38, 1); }

/* Color Theme Swatches in HSLA */
.Calculator-1-hsla { color: hsla(22, 96, 48, 1); }
.Calculator-2-hsla { color: hsla(22, 88, 29, 1); }
.Calculator-3-hsla { color: hsla(16, 96, 48, 1); }
.Calculator-4-hsla { color: hsla(0, 0, 95, 1); }
.Calculator-5-hsla { color: hsla(0, 0, 15, 1); }
